<center>
<img src="../../img/ods_stickers.jpg">
    
## [mlcourse.ai](https://mlcourse.ai) - Open Machine Learning Course

Author: [Yury Kashnitsky](https://www.linkedin.com/in/festline/). Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/). All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data â€“ it's already  in the repository)**

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [3]:
import numpy as np
import pandas as pd
pd.set_option('display.max.columns', 100)
# to draw pictures in jupyter notebook
%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings
warnings.filterwarnings('ignore')

In [5]:
data = pd.read_csv('../../data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [3]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [6]:
data[data['sex'] == 'Female']['age'].mean()

36.85823043357163

**3. What is the percentage of German citizens (*native-country* feature)?**

In [80]:
data[data['native-country']=='Germany']['native-country'].count()/data['native-country'].count() * 100

0.42074874850281013

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [43]:
data.pivot_table(['age'],['salary'], aggfunc={'mean','std'})

              age
              std       mean
salary
<=50K   14.020088  36.783738
>50K    10.519028  44.249841

**6. Is it true that people who earn more than 50K have at least high school education? (*education â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [84]:
d = {'Bachelors' : True, 'Prof-school' : True, 'Assoc-acdm' : True, 'Assoc-voc' : True, 'Masters' : True, 'Doctorate' : True}
highereducation = data['education'].map(d).fillna(False)
data.insert(loc=len(data.columns), column='Higher Education', value=highereducation) 
data[data['salary'] == '>50K']['Higher Education'].value_counts(normalize=True)

True     0.57837
False    0.42163
Name: Higher Education, dtype: float64

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [70]:
data.groupby(['race','sex'])['age'].describe(percentiles=[])

race                sex
Amer-Indian-Eskimo  Female  count      119.000000
                            mean        37.117647
                            std         13.114991
                            min         17.000000
                            50%         36.000000
                            max         80.000000
                    Male    count      192.000000
                            mean        37.208333
                            std         12.049563
                            min         17.000000
                            50%         35.000000
                            max         82.000000
Asian-Pac-Islander  Female  count      346.000000
                            mean        35.089595
                            std         12.300845
                            min         17.000000
                            50%         33.000000
                            max         75.000000
                    Male    count      693.000000
                            mean        39.073593
                            std         12.883944
                            min         18.000000
                            50%         37.000000
                            max         90.000000
Black               Female  count     1555.000000
                            mean        37.854019
                            std         12.637197
                            min         17.000000
                            50%         37.000000
                            max         90.000000
                    Male    count     1569.000000
                            mean        37.682600
                            std         12.882612
                            min         17.000000
                            50%         36.000000
                            max         90.000000
Other               Female  count      109.000000
                            mean        31.678899
                            std         11.631599
                            min         17.000000
                            50%         29.000000
                            max         74.000000
                    Male    count      162.000000
                            mean        34.654321
                            std         11.355531
                            min         17.000000
                            50%         32.000000
                            max         77.000000
White               Female  count     8642.000000
                            mean        36.811618
                            std         14.329093
                            min         17.000000
                            50%         35.000000
                            max         90.000000
                    Male    count    19174.000000
                            mean        39.652498
                            std         13.436029
                            min         17.000000
                            50%         38.000000
                            max         90.000000
Name: age, dtype: float64

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [85]:
#d = {'Married-civ-spouse' : True, 'Married-spouse-absent' : True, 'Married-AF-spouse' : True}
#Married = data['marital-status'].map(d).fillna(False)
#data.insert(loc=len(data.columns), column='Married', value=Married) 
data[data['salary'] == '>50K']['Married'].value_counts(normalize=True)

True     0.859074
False    0.140926
Name: Married, dtype: float64

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [120]:
data[data['hours-per-week'] == data['hours-per-week'].max()].pivot_table(['hours-per-week'],['salary'], aggfunc='count', margins=True)

        hours-per-week
salary
<=50K             60.0
>50K              25.0
All               85.0

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [139]:
data.pivot_table(['hours-per-week'],['native-country','salary'], aggfunc='mean')
data[data['native-country']=='japan'].pivot_table(['hours-per-week'],['native-country','salary'], aggfunc='mean')

Empty DataFrame
Columns: [hours-per-week]
Index: []